nav {
    width: 100%;
    font-size: 3rem;
    color: black;
    margin-bottom: 50px;
    background-color: bisque;
    height: auto;
}

a {
    color: darkred;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
        font-size: 2rem;
    }
}