h4, h5 {
    background-color: #ffffff;
    display: inline;
    cursor: default;
}

h5 {
    font-size: 1.5em;
}


h5:hover {
    color: #ffffff;
    background-color: red;
    display: inline;
}

.scoreB {
    margin-bottom: 10px;
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
    padding-top: 20px;
    padding-right: 40px;
}

/* #root {
    background-image: url("/clicky-game/public/assets/Images/avatar.jpg");
    background-color: #dddddd;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  } */
